{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="ru" id="themeToggle" class="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.title }} </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css" />
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    {% tailwind_css %}
</head>


<body class="bg-white dark:bg-gray-900">
<header class="bg-white dark:bg-gray-900">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8 fixed w-[100%] bg-white dark:bg-gray-900 z-40 bg-opacity-85 dark:bg-opacity-85"
         style="max-width: 100%;" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="{% url 'home' %}" class="-m-1.5 p-1.5 flex">
                <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&amp;shade=600"
                     alt="" style="margin-right: 20px">
                <span class="justify-center align-middle align-center flex text-2xl font-bold text-gray-900 dark:text-white ">
                      Kin
                      <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: auto" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 20.25h12m-7.5-3v3m3-3v3m-10.125-3h17.25c.621 0 1.125-.504 1.125-1.125V4.875c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125Z"/>
                      </svg>
                      Lib
                  </span>
            </a>
        </div>

        <div class="flex lg:hidden">
            <button type="button"
                    class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 dark:text-white"
                    onclick="Menu.style.display = 'block'">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                     aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                </svg>
            </button>
        </div>

        <div class="hidden lg:flex lg:gap-x-12">

            <a href="{% url 'home' %}" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">Главная</a>
            <a href="{% url 'home' %}" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">Топ-10 за месяц</a>
            <a href="{% url 'home' %}" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">Планы</a>
            <a href="{% url 'home' %}" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">Контакты</a>
        </div>

        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a style="margin-right: 2vh" class="hover:text-primary block transition dark:text-white md:px-4 p-2"
               onclick="ToggleTheme()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="block w-6 h-6 dark:hidden">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden w-6 h-6 dark:block">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"/>
                </svg>
            </a>

            <a class="cursor-pointer text-sm font-semibold leading-6 text-gray-900 dark:text-white flex mr-[100px] dark:bg-gray-800 bg-gray-100 rounded-2xl p-2 pl-6 pr-6" onclick="showing.classList.toggle('hidden')">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                 {{ user.username }}
            </a>

                        <ul id="showing"  class="hidden origin-top-right absolute top-full -translate-x-1/2 min-w-[240px] bg-gray-100 dark:bg-gray-900 bg-opacity-95 dark:bg-opacity-95 border dark:border-gray-800 border-slate-200 p-2 rounded-lg shadow-xl [&amp;[x-cloak]]:hidden"  style="left: calc(100% - 150px)">
                            <li>
                                <a class="text-slate-800 hover:bg-slate-50 dark:hover:bg-gray-800 flex items-center p-2" href="/profile/info/">
                                    <div class="flex items-center justify-center dark:bg-gray-800 bg-white dark:border-0 border border-slate-200 rounded shadow-sm h-7 w-7 shrink-0 mr-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 fill-indigo-500">
                                            <path fill-rule="evenodd" d="M1.5 5.625c0-1.036.84-1.875 1.875-1.875h17.25c1.035 0 1.875.84 1.875 1.875v12.75c0 1.035-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 0 1 1.5 18.375V5.625ZM21 9.375A.375.375 0 0 0 20.625 9h-7.5a.375.375 0 0 0-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 0 0 .375-.375v-1.5Zm0 3.75a.375.375 0 0 0-.375-.375h-7.5a.375.375 0 0 0-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 0 0 .375-.375v-1.5Zm0 3.75a.375.375 0 0 0-.375-.375h-7.5a.375.375 0 0 0-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 0 0 .375-.375v-1.5ZM10.875 18.75a.375.375 0 0 0 .375-.375v-1.5a.375.375 0 0 0-.375-.375h-7.5a.375.375 0 0 0-.375.375v1.5c0 .207.168.375.375.375h7.5ZM3.375 15h7.5a.375.375 0 0 0 .375-.375v-1.5a.375.375 0 0 0-.375-.375h-7.5a.375.375 0 0 0-.375.375v1.5c0 .207.168.375.375.375Zm0-3.75h7.5a.375.375 0 0 0 .375-.375v-1.5A.375.375 0 0 0 10.875 9h-7.5A.375.375 0 0 0 3 9.375v1.5c0 .207.168.375.375.375Z" clip-rule="evenodd" />
                                        </svg>

                                    </div>
                                    <span class="whitespace-nowrap dark:text-white text-gray-800">Данные</span>
                                </a>
                            </li>
                            <li>
                                <a class="text-slate-800 hover:bg-slate-50 dark:hover:bg-gray-800 flex items-center p-2" href="/profile/favorite/">
                                    <div class="flex items-center justify-center bg-white dark:bg-gray-800 dark:border-0 border border-slate-200 rounded shadow-sm h-7 w-7 shrink-0 mr-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 fill-indigo-500">
                                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                                        </svg>

                                    </div>
                                    <span class="whitespace-nowrap dark:text-white text-gray-800">Профиль</span>
                                </a>
                            </li>
                            <li>
                                <a class="mt-6 text-slate-800 hover:bg-slate-50 dark:hover:bg-gray-800 flex items-center p-2 justify-center" style="background: linear-gradient(90deg, rgba(147, 112, 219, 1) 0%, rgba(109, 90, 197, 1) 100%)" href="/account/logout/">
                                    <span class="whitespace-nowrap text-white" >Выйти</span>
                                </a>
                            </li>

                        </ul>

        </div>
    </nav>


    <div class="lg:hidden" aria-modal="true" style="display: none;" id="Menu">
        <div class="fixed inset-0 z-10"></div>
        <div style="z-index: 100;" class=" fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white dark:bg-gray-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10 bg-opacity-95 dark:bg-opacity-95">
            <div class="flex items-center justify-between">
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&amp;shade=600" alt="">
                </a>
                <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700 dark:text-white"
                        onclick="Menu.style.display = 'none' ">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>

            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6">

                        <a href="#home"
                           class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900  dark:text-white dark:hover:bg-gray-700  ">Главная</a>
                        <a href="#top"
                           class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900  dark:text-white dark:hover:bg-gray-700 ">Топ-10
                            за месяц</a>
                        <a href="#plans"
                           class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900  dark:text-white dark:hover:bg-gray-700 ">Планы</a>

                        <a href="#contact"
                           class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900  dark:text-white dark:hover:bg-gray-700 ">Контакты</a>
                    </div>
                    <div class="py-6 flex">
                        <a style="margin-top: 12px; margin-right: 2vh"
                           class="hover:text-primary block transition dark:text-white md:px-4 " onclick="ToggleTheme()">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="block w-6 h-6 dark:hidden">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"/>
                            </svg>

                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden w-6 h-6 dark:block">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"/>
                            </svg>

                        </a>

                         <a class="cursor-pointer text-sm font-semibold leading-6 text-gray-900 dark:text-white flex mr-[100px] dark:bg-gray-800 bg-gray-100 rounded-2xl p-2 pl-6 pr-6" onclick="showing2.classList.toggle('hidden')">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg> {{ user.username }}

                        </a>

                        <ul id="showing2"  class="hidden origin-top-right absolute -translate-x-1/2 min-w-[240px] bg-gray-100 dark:bg-gray-900 bg-opacity-95 dark:bg-opacity-95 border dark:border-gray-800 border-slate-200 p-2 rounded-lg shadow-xl [&amp;[x-cloak]]:hidden"  style="left: calc(100% - 150px); margin-top: 70px">
                            <li>
                                <a class="text-slate-800 hover:bg-slate-50 dark:hover:bg-gray-800 flex items-center p-2" href="/profile/info/">
                                    <div class="flex items-center justify-center dark:bg-gray-800 bg-white dark:border-0 border border-slate-200 rounded shadow-sm h-7 w-7 shrink-0 mr-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 fill-indigo-500">
                                            <path fill-rule="evenodd" d="M1.5 5.625c0-1.036.84-1.875 1.875-1.875h17.25c1.035 0 1.875.84 1.875 1.875v12.75c0 1.035-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 0 1 1.5 18.375V5.625ZM21 9.375A.375.375 0 0 0 20.625 9h-7.5a.375.375 0 0 0-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 0 0 .375-.375v-1.5Zm0 3.75a.375.375 0 0 0-.375-.375h-7.5a.375.375 0 0 0-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 0 0 .375-.375v-1.5Zm0 3.75a.375.375 0 0 0-.375-.375h-7.5a.375.375 0 0 0-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 0 0 .375-.375v-1.5ZM10.875 18.75a.375.375 0 0 0 .375-.375v-1.5a.375.375 0 0 0-.375-.375h-7.5a.375.375 0 0 0-.375.375v1.5c0 .207.168.375.375.375h7.5ZM3.375 15h7.5a.375.375 0 0 0 .375-.375v-1.5a.375.375 0 0 0-.375-.375h-7.5a.375.375 0 0 0-.375.375v1.5c0 .207.168.375.375.375Zm0-3.75h7.5a.375.375 0 0 0 .375-.375v-1.5A.375.375 0 0 0 10.875 9h-7.5A.375.375 0 0 0 3 9.375v1.5c0 .207.168.375.375.375Z" clip-rule="evenodd" />
                                        </svg>

                                    </div>
                                    <span class="whitespace-nowrap dark:text-white text-gray-800">Данные</span>
                                </a>
                            </li>
                            <li>
                                <a class="text-slate-800 hover:bg-slate-50 dark:hover:bg-gray-800 flex items-center p-2" href="/profile/favorite/">
                                    <div class="flex items-center justify-center bg-white dark:bg-gray-800 dark:border-0 border border-slate-200 rounded shadow-sm h-7 w-7 shrink-0 mr-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 fill-indigo-500">
                                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                                        </svg>

                                    </div>
                                    <span class="whitespace-nowrap dark:text-white text-gray-800">Профиль</span>
                                </a>
                            </li>
                            <li>
                                <a class="mt-6 text-slate-800 hover:bg-slate-50 dark:hover:bg-gray-800 flex items-center p-2 justify-center" style="background: linear-gradient(90deg, rgba(147, 112, 219, 1) 0%, rgba(109, 90, 197, 1) 100%)" href="/account/logout/">
                                    <span class="whitespace-nowrap text-white" >Выйти</span>
                                </a>
                            </li>

                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

    <div class="container pt-32">
        <div class="wrapper">
        <div aria-hidden="true"
             class="mt-40 absolute inset-0 grid grid-cols-2 -space-x-52 opacity-30 dark:opacity-25 bg-fixed bg-center bg-no-repeat"
             >
            <div class="blur-[106px] h-56 bg-gradient-to-br from-blue-900 to-purple-400 dark:from-blue-700"></div>
            <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
        </div>
            <div class="wrapper-col-1 ">
                <img src="{{ product.img }}">
            </div>
            <!-- /.wrapper-col-1 -->


            <div class="wrapper-col-2 ">
                <h1 class="title dark:text-white text-gray-900">{{ product.title }} ({{ product.year }})</h1>
                <h6 class="subtitle text-gray-600 dark:text-slate-300 ">{{ product.type }}</h6>
                <p class="description max-w-[450px] dark:text-white text-gray-900">{{ product.description }}</p>

                <div class="mb-20">

                    {% if user in product.users.all %}

                     <a href="/add/{{ product.id }}" style="min-height: 60px;min-width: 150px"
                           class="button relative flex h-11 w-full items-center justify-center px-6 hover:scale-105 active:duration-75 active:scale-95 before:border-gray-700 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
                                <span class="relative text-base font-semibold text-white dark:text-white flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                    <path fill-rule="evenodd" d="M6.32 2.577a49.255 49.255 0 0 1 11.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 0 1-1.085.67L12 18.089l-7.165 3.583A.75.75 0 0 1 3.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93Z" clip-rule="evenodd" />
                                </svg>  В избранном 

                                </span>
                        </a>
                    {% else %}

                                         <a href="/add/{{ product.id }}" style="min-height: 60px;min-width: 150px"
                           class="button relative flex h-11 w-full items-center justify-center px-6 hover:scale-105 active:duration-75 active:scale-95 before:border-gray-700 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
                                <span class="relative text-base font-semibold text-white dark:text-white flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                                        </svg>  Добавить в избранное 

                                </span>
                        </a>

                    {% endif %}
                </div>


                <!-- /.mb-40 -->

            {% if product.type == 'Фильм' %}
                <h2 class="dark:text-white text-gray-900 ">О фильме</h2>
            {% else %}
                <h2 class="dark:text-white text-gray-900 ">О книге</h2>
            {% endif %}

                <br>
                <ul class="params">
                    <li><span class="text-gray-400 dark:text-slate-300">Год производства</span><span class="text-gray-400 dark:text-slate-300">{{ product.year }}</span> </li>
                    <li><span class="text-gray-400 dark:text-slate-300">Страна</span> <span class="text-gray-400 dark:text-slate-300">США</span> </li>
                    <li><span class="text-gray-400 dark:text-slate-300">Жанр</span> <span class="text-gray-400 dark:text-slate-300"><a href="#">драма</a>, <a href="#">криминал</a>, <a
                                href="#">биография</a>, <a href="#">комедия</a></span></li>
                    <li><span class=" text-gray-400 dark:text-slate-300">Слоган</span> <span class="text-gray-400 dark:text-slate-300">«Earn. Spend. Party»</span></li>
                    <li><span class=" text-gray-400 dark:text-slate-300">Режиссер</span>
                        <span class="text-gray-400 dark:text-slate-300">Мартин Скорсезе</span> </li>

                </ul>
            </div>
            <!-- /.wrapper-col-2 -->

            <div class="wrapper-col-3 mt-8">
                <span class="rathing-main" style="color: rgba(147,112,219,1)">{{ product.rating }}</span>
                <span class="rathing-counts text-gray-900 dark:text-slate-300">
                    1 352 790 оценок</span>
                <a href="#" class="rathing-details text-gray-400 dark:text-slate-300">520 рецензий</a>


                <div class="mt-28">
                    <h2 class="text-gray-900 dark:text-white">В главных ролях:</h2>
                </div>
            </div>
            <!-- /.wrapper-col-3 -->

        </div>
        <!-- /.wrapper -->
        <div class="trailer mt-32">
            {% if product.type == 'Фильм'  %}
            <video controls>
                <source
                    src="https://www.youtube.com/watch?v=CHivqmutR0I&ab_channel=%D0%9D%D0%BE%D0%B2%D1%8B%D0%B5%D1%82%D1%80%D0%B5%D0%B9%D0%BB%D0%B5%D1%80%D1%8B"
                    type="video/mp4" >
            </video>

            {% else %}

            <img src="{% static 'img/pdf.png' %}" style="max-height: 300px; max-width: 300px; margin: 0 auto" alt="">

            {% endif %}


            <hr class="hr-white mt-32 mb-16">


<div class="max-w-2xl mx-auto mb-16">

	<form method="post">
                {% csrf_token %}

        <input type="text" value="{{ user.username }}" name="title" hidden>
        <input type="text" value="{{ product.id }}" name="product" hidden>
        <div class="flex items-center py-2 px-3 bg-gray-50 rounded-lg dark:bg-gray-700">
            <button type="button" class="inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd"></path></svg>
            </button>
            <button type="button" class="p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-.464 5.535a1 1 0 10-1.415-1.414 3 3 0 01-4.242 0 1 1 0 00-1.415 1.414 5 5 0 007.072 0z" clip-rule="evenodd"></path></svg>
            </button>
            <textarea id="chat" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Напишите отзыв..." name="message"></textarea>
                <button type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                <svg class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path></svg>
            </button>
        </div>
    </form>

</div>
<div class="max-w-2xl mx-auto">
{% for message in messages %}

    {% if message.product == str_prod  %}
    <div class="bg-slate-200 dark:bg-gray-800 rounded-2xl mb-8 w-full p-4 mx-auto">
        <h2 class="text-gray-900 dark:text-white flex ">Пользователь: <p class="ml-2 text-gray-900 dark:text-slate-300">{{ message.title }}</p></h2>
        <textarea class="text-gray-800 dark:text-gray-400 bg-slate-300 dark:bg-gray-700 mt-3 w-full rounded border-0" disabled>{{ message.description }}</textarea>
    </div>
    {% endif %}
    {% endfor %}
</div>
        </div>
    </div>
    <!-- /.container -->

</body>
<script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
<script src="{% static 'js/main.js' %}"></script>

</html>