{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Волк с Уолл-стрит </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    {% tailwind_css %}
</head>


<body>

    <div class="container">
        <div class="wrapper">

            <div class="wrapper-col-1 ">
                <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1600647/c5876e81-9dec-43e2-923f-fee2fca85e21/1920x"
                    alt="Волк с Уолл-стрит (2013)">
            </div>
            <!-- /.wrapper-col-1 -->


            <div class="wrapper-col-2 ">
                <h1 class="title">Волк с Уолл-стрит (2013)</h1>
                <h6 class="subtitle">The Wolf of Wall Street18+</h6>
                <p class="description">Восхождение циника-гедониста на бизнес-олимп 1980-х. Блистательный тандем
                    Леонардо ДиКаприо и Мартина Скорсезе</p>

                <div class="mb-40">
                    <a href="#" class="btn">Смотреть</a>
                    <div class="favorite" title="Добавить в избранное" aria-label="Добавить в избранное">
                        <img width="32" height="32"
                            src="https://img.icons8.com/windows/32/228BE6/filled-bookmark-ribbon.png" alt="Избранное"
                            class="favorite-icon">
                    </div>
                </div>


                <!-- /.mb-40 -->

                <ul class="params mb-40">
                    <li><span class="text-muted">Аудиодорожки</span>
                        Русский (ПИФАГОР), Русский 5.1 (ПИФАГОР), Русский (Кубик в Кубе 18+), Казахский (Cinema Tone
                        Pro), Казахский 5.1 (Cinema Tone Pro)</li>
                    <li><span class="text-muted">Субтитры</span>
                        Русские (18+), Английские</li>
                    <li><span class="text-muted">Качество видео</span> <span><span class="tag">Full HD</span></span>
                    </li>
                </ul>

                <h2>О фильме</h2>

                <ul class="params">
                    <li><span class="text-muted">Год производства</span> 2013</li>
                    <li><span class="text-muted">Страна</span> США</li>
                    <li><span class="text-muted">Жанр</span> <span><a href="#">драма</a>, <a href="#">криминал</a>, <a
                                href="#">биография</a>, <a href="#">комедия</a></span></li>
                    <li><span class="text-muted">Слоган</span> <span class="text-muted">«Earn. Spend. Party»</span></li>
                    <li><span class="text-muted">Режиссер</span>
                        Мартин Скорсезе</li>
                    <li><span class="text-muted">Время</span> <time class="text-muted">
                            180 мин. / 03:00</time></li>
                </ul>
            </div>
            <!-- /.wrapper-col-2 -->

            <div class="wrapper-col-3">
                <span class="rathing-main">8.0</span>
                <span class="rathing-counts">
                    1 352 790 оценок</span>
                <a href="#" class="rathing-details">520 рецензий</a>
            </div>
            <!-- /.wrapper-col-3 -->

        </div>
        <!-- /.wrapper -->
        <div class="trailer">
            <video controls>
                <source
                    src="https://www.youtube.com/watch?v=CHivqmutR0I&ab_channel=%D0%9D%D0%BE%D0%B2%D1%8B%D0%B5%D1%82%D1%80%D0%B5%D0%B9%D0%BB%D0%B5%D1%80%D1%8B"
                    type="video/mp4">
            </video>
            <div class="description">
                <h2>Описание:</h2>
                <p style="color: white;">1987 год. Джордан Белфорт становится брокером в успешном инвестиционном банке.
                    Вскоре банк закрывается после внезапного обвала индекса Доу-Джонса. По совету жены Терезы Джордан
                    устраивается в небольшое заведение, занимающееся мелкими акциями. Его настойчивый стиль общения с
                    клиентами и врождённая харизма быстро даёт свои плоды. Он знакомится с соседом по дому Донни,
                    торговцем, который сразу находит общий язык с Джорданом и решает открыть с ним собственную фирму. В
                    качестве сотрудников они нанимают нескольких друзей Белфорта, его отца Макса и называют компанию
                    «Стрэттон Оукмонт». В свободное от работы время Джордан прожигает жизнь: лавирует от одной вечеринки
                    к другой, вступает в сексуальные отношения с проститутками, употребляет множество наркотических
                    препаратов, в том числе кокаин и кваалюд. Однажды наступает момент, когда быстрым обогащением
                    Белфорта начинает интересоваться агент ФБР...</p>
            </div>

            <div class="rating">
                <h2>Рейтинг фильма</h2>
                <p style="color: white; font-size: 24px;">8.0 / 10.0</p>
                <div class="stars">
                    <span class="red-star"></span><span class="red-star"></span><span class="red-star"></span><span
                        class="red-star"></span><span class="red-star"></span>
                    <span class="red-star"></span><span class="red-star"></span><span class="red-star"></span><span
                        class="red-star"></span><span class="red-star"></span>
                </div>
                <p class="liked">Если вам понравился этот фильм <span class="review-btn">+Написать рецензию</span></p>
                <p style="color: white; text-align: right;">1 352 791 оценка
                </p>
            </div>

            <hr class="hr-white">

            <div class="similar">
                <p>Знаете похожие фильмы? <span class="add-btn">+ Добавить</span></p>
                <p>А вы знали,что...</p>
                <ol>
                    <li>~ДиКаприо провел много месяцев, работая с Белфортом, чтобы как можно точнее передать
                        определённые моменты его жизни.</li>
                    <li>~Марго Робби призналась, что однажды, во время съемки сцены, случайно ударила Леонардо ДиКаприо
                        чуть сильнее, чем обычно. После этого на съемочной площадке воцарилась абсолютная тишина, но
                        затем раздался оглушительный смех, а Робби испугалась, что ДиКаприо засудит ее и извинилась, но
                        тот был впечатлен ее смелостью и попросил ударить его еще раз.</li>
                    <li>~Леонардо ДиКаприо утверждает, что он и Мартин Скорсезе могли «выйти за установленные рамки» в
                        описаниях сцен с чрезмерным уровнем сексуального характера и «снять фильм именно как они хотели»
                        в первую очередь, поскольку производство фильма финансировалось независимо, без каких ни было
                        крупных студий. Тем не менее, Скорсезе смонтировал сцены сексуального характера так, чтобы
                        избежать рейтинг NC-17.</li>
                </ol>
                <p>Рецензии зрителей:</p>
            </div>

        </div>
    </div>
    <!-- /.container -->

</body>

</html>