{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/KINOLIB/other/static/css/dist/styles.css">
    {% tailwind_css %}
</head>

<body class="bg-white dark:bg-gray-800"
    style="background-image: url('{% static 'img/preview_info3.jpg' %}'); background-repeat: no-repeat; background-size: cover;">

    <header class="container mx-auto ">

    </header>