{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/KINOLIB/other/static/css/dist/styles.css">
        <link rel="stylesheet" href="{% static 'css/auth.css' %}">

    {% tailwind_css %}
</head>

<body class="bg-white dark:bg-gray-800"
    style="background-image: url('{% static 'img/preview_info3.jpg' %}'); background-repeat: no-repeat; background-size: cover;">


<main class="container mx-auto py-big bg-opacity-90">
    <div class="min-h-screen flex items-center justify-center dark:bg-opacity-95">

        <div class="bg-white p-16 rounded shadow-2xl w-2/3 dark:bg-gray-900 dark:bg-opacity-95">

            <h2 class="text-3xl font-bold mb-10 text-gray-700 dark:text-gray-300">Войти</h2>
            <form class="space-y-5" method="post">
                {% csrf_token %}

                <div>
                    <label class="block mb-1 font-bold text-gray-500 dark:text-gray-300">Логин</label>
                    <input type="text"
                           class="h-12 dark:text-white w-full  border-gray-200 dark:border-gray-600 dark:ring-2 p-3 rounded outline-none dark:focus:ring-gray-800  focus:ring-4 focus:outline-none focus:ring-gray-100 focus:border-neutral-400 dark:bg-gray-800"
                           style="box-shadow: 0 0 60px rgba(147,112,219,.34);line-height: 2rem;"
                           name="username"
                           required>
                </div>
                <div>
                    <label class="block mb-1 font-bold text-gray-500 dark:text-gray-300">Пароль</label>
                    <div style="position: relative;">
                        <input id="passwordInput" type="password"
                               class="h-12 dark:text-white w-full border-gray-200 dark:border-gray-600 dark:ring-2 p-3 rounded outline-none dark:focus:ring-gray-800  focus:ring-4 focus:outline-none focus:ring-gray-100 focus:border-neutral-400 dark:bg-gray-800"
                               style="box-shadow: 0 0 60px rgba(147,112,219,.34);line-height: 2rem;"
                               name="password"
                               required>

                    </div>
                </div>


                <div>



                    <button
                            class="mt-8 block w-full bg-gray-400 hover:bg-gray-500 p-4 rounded text-gray-700 hover:text-white transition duration-300 button dark:text-white dark:hover:text-gray-700">
                        Войти
                    </button>
                    <div style="text-align: center; margin-top: 20px;">
                        <hr style="border: none; height: 1px; background-color: #ccc; margin: 20px 0;"/>
                        <div class="flex justify-evenly w-[250px]" style="margin: auto">
                            <a href="ссылка_на_авторизацию_через_Facebook">
                                <div class="border-gray-400 border-2"
                                        style="  border-radius: 10px; padding: 10px; width: 100%;">
                                    <img src="https://e7.pngegg.com/pngimages/299/774/png-clipart-google-logo-google-search-search-engine-optimization-google-s-google-google-logo-google-thumbnail.png"
                                         class="w-8 h-8"
                                         alt="Facebook">

                                </div>
                            </a>
                            <a href="ссылка_на_авторизацию_через_Facebook">
                                <div class="border-gray-400 border-2"
                                        style=" border-radius: 10px; padding: 10px; width: 100%;">
                                    <img src="{% static 'img/git.png' %}" class="w-8 h-8"
                                         alt="Facebook"
                                    >

                                </div>
                            </a>
                            <a href="ссылка_на_авторизацию_через_Facebook">
                                <div style=" border-radius: 10px; padding: 10px; width: 100%;"
                                     class="border-gray-400 border-2">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/768px-Facebook_Logo_%282019%29.png"
                                         alt="Facebook" class="w-8 h-8">

                                </div>
                            </a>
                        </div>


                    </div>
                    <div>
                        <hr style="border: none; height: 1px; background-color: #ccc; margin: 20px 0;"/>
                        <a class="text-gray-900 dark:text-gray-300" href="/account/signup/">У Вас нет аккаунта? <span
                                style="color: #3f8bd0; cursor: pointer;" onmouseover="this.style.color='#e74c3c'"
                                onmouseout="this.style.color='#3f8bd0'">Зарегестрироваться</span></a>

                    </div>


                </div>
            </form>

        </div>
    </div>

</main>