{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/KINOLIB/other/static/css/dist/styles.css">
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("passwordInput");
            var eyeIcon = document.getElementById("eyeIcon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            }
        }
    </script>
    {% tailwind_css %}
</head>

<body class="bg-white dark:bg-gray-800"
    style="background-image: url('{% static 'img/preview_info3.jpg' %}'); background-repeat: no-repeat; background-size: cover;">
    <header class="container mx-auto ">

    </header>

    <main class="container mx-auto py-big">
        <div class="min-h-screen flex items-center justify-center">

            <div class="bg-white p-16 rounded shadow-2xl w-2/3">

                <h2 class="text-3xl font-bold mb-10 text-gray-800">Создать аккаунт</h2>
                <style>
                    input[type="text"],
                    input[type="email"],
                    input[type="tel"],
                    input[type="password"] {
                        color: #424242;
                    }
                </style>
                <form class="space-y-5">


                    <div>
                        <label class="block mb-1 font-bold text-gray-500">Имя</label>
                        <input type="text"
                            class="w-full border-2 border-gray-200 p-3 rounded outline-none focus:border-blue-900"
                            required>
                    </div>

                    <div>
                        <label class="block mb-1 font-bold text-gray-500">Почта</label>
                        <input type="email"
                            class="w-full border-2 border-gray-200 p-3 rounded outline-none focus:border-blue-900"
                            required>
                    </div>

                    <div class="flex items-center">
                        <label class="block mb-1 font-bold text-gray-500 mr-3">Выберите страну</label>
                        <select id="country" name="country"
                            class="rounded-md border border-gray-200 p-1 text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
                            <option value=""></option>
                            <option value="7">RUS (+7)</option>
                            <option value="1">US / CA (+1)</option>
                            <option value="27">ZA (+27)</option>
                            <option value="41">CH (+41)</option>
                            <option value="996">KG (+996)</option>
                        </select>
                    </div>

                    <div style="position: relative; margin-top: 1rem;">
                        <input id="phone-number" type="tel" name="phone-number" autocomplete="tel"
                            placeholder="Введите номер телефона"
                            class="block w-full rounded-md border border-gray-200 p-2 pl-12 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <span id="selected-country"
                            style="position: absolute; top: 50%; transform: translateY(-50%); left: 8px; color: #718096;"></span>
                    </div>

                    <script>
                        document.getElementById("country").addEventListener("change", function () {
                            var selectedCountryCode = document.getElementById("country").value;
                            if (selectedCountryCode) {
                                document.getElementById("selected-country").textContent = "+" + selectedCountryCode;
                            } else {
                                document.getElementById("selected-country").textContent = "";
                            }
                            document.getElementById("phone-number").placeholder = "Введите номер телефона";
                        });
                    </script>



                    <div>
                        <label class="block mb-1 font-bold text-gray-500">Пароль</label>
                        <div style="position: relative;">
                            <input id="passwordInput" type="password"
                                class="w-full border-2 border-gray-200 p-3 rounded outline-none focus:border-blue-900"
                                required>
                            <i id="eyeIcon" onclick="togglePasswordVisibility()" class="fa fa-eye-slash"
                                style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
                        </div>
                    </div>

                    <div class="flex items-center">
                        <input type="checkbox" id="agree">
                        <label for="agree" class="ml-2 text-gray-700 text-sm">Я согласен(-а) с условиями
                            пользовательского соглашения.</label>
                    </div>

                    <button
                        class="block w-full bg-gray-400 hover:bg-gray-500 p-4 rounded text-gray-800 hover:text-gray-900 transition duration-300">Зарегистрироваться</button>
                    <div style="text-align: center; margin-top: 20px;">
                        <hr style="border: none; height: 1px; background-color: #ccc; margin: 20px 0;" />
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <a href="ссылка_на_авторизацию_через_Google"
                                style="text-decoration: none; margin-bottom: 10px;">
                                <div
                                    style="display: flex; align-items: center; border: 1px solid #ccc; border-radius: 10px; padding: 10px; width: 305px;">
                                    <img src="https://s2.r29static.com/bin/entry/824/0,0,2000,1050/x/1902859/image.png"
                                        alt="Google" style="width: 50px; height: auto;">
                                    <p style="margin-left: 10px; color: #424242">Войти через Google</p>
                                </div>
                            </a>
                            <a href="ссылка_на_авторизацию_через_Facebook" style="text-decoration: none;">
                                <div
                                    style="display: flex; align-items: center; border: 1px solid #ccc; border-radius: 10px; padding: 10px; width: 305px;">
                                    <img src="https://icon-library.com/images/small-facebook-icon-png/small-facebook-icon-png-21.jpg"
                                        alt="Facebook" style="width: 35px; height: auto;">
                                    <p style="margin-left: 10px; color: #424242">Войти через Facebook</p>
                                </div>
                        </div>
                        </a>

                    </div>
                    <div>
                        <hr style="border: none; height: 1px; background-color: #ccc; margin: 20px 0;" />
                        <a href="/login/authorized" style="color: #000;">Уже есть аккаунт? <span
                                style="color: #3f8bd0; cursor: pointer;" onmouseover="this.style.color='#e74c3c'"
                                onmouseout="this.style.color='#3f8bd0'">Войти</span></a>
                        <hr
                            style="width: 100%; border: none; height: 1px; background-color: #ccc; margin: 20px 0; position: relative;">
                    </div>

                </form>
            </div>

        </div>
    </main>

</body>

</html>